/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
	--article-font-size: 1.25rem;
	--syntax-tab-size: 4;
}

/* Default theme colors */
:root {
	--background-color-light: #fff;
	--background-color-dark: #000;
	--background-color: var(--background-color-light);

	--active-light: hsl(172, 94%, 20%);
	--active-dark: hsl(172, 94%, 65%);
	--complement: hsl(38, 94%, 65%);
	--complementdarker: hsl(38, 94%, 9%);
	--primary: hsl(351, 94%, 65%);
	--primarydarker: hsl(351, 94%, 9%);
	--text-color-dark: hsl(172, 94%, 83%);
	--text-color-light: hsl(172, 94%, 9%);

	--text-color: var(--text-color-light);
	--text-color-link: var(--text-color-light);
	--text-color-link-active: var(--primarydarker);
	--text-color-link-highlight: var(--complementdarker);
	--text-color-link-visited: var(--primarytext);
	
	--button-border-color: var(--text-color-link);
	--button-border-highlight: var(--primarydarker);
	--button-text-color: var(--text-color-link);
	--button-text-highlight: var(--text-color-light);

	--rainbow-horizon: var(--background-color-light), 50%, var(--complement), 88%, var(--primary)
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: var(--background-color-dark);
		
		--text-color: var(--text-color-dark);
		--text-color-link: var(--complement);
		--text-color-link-active: var(--text-color-dark);
		--text-color-link-highlight: var(--primary);
		--text-color-link-visited: var(--text-color-dark);
		
		--button-border-highlight: var(--complement);
		--button-text-highlight: var(--text-color-light);
		
		--rainbow-horizon: var(--background-color-dark), 64%, var(--complementdark), 92%, var(--primarydark)
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}

html {
	overflow-y: scroll;
}

body {
	min-height: 100vh;
	min-height: 100dvh;
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.pantalla {
	margin: 0 auto;
	max-width: 50em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-block-end: 1.5rem;
	margin-block-start: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.125em;
}

h4 {
	font-size: 1.0625em;
}

h5 {
	font-size: 0.9375em;
	text-transform: uppercase;
}

h6 {
	font-size: 0.875em;
	text-transform: uppercase;
}

p:last-child {
	margin-block-end: 0;
}

p,
li {
	line-height: 1.5;
}

a {
	color: var(--text-color-link);
}

a:visited {
	color: var(--text-color-link-visited);
}

a:focus,
a:hover {
	color: var(--text-color-link-highlight);
}

a:active {
	color: var(--text-color-link-active);
}

.button {
	text-decoration: none;
}

button,
.button {
	background-color: transparent;
	border: .15625em solid var(--button-border-color);
	border-radius: 99999px;
	color: var(--button-text-color);
	font-size: 1.5em;
	padding: 0.25em 0.5em;
}

button:focus,
button:hover,
.button:focus, 
.button:hover {
	background-color: var(--complement);
	border-color: var(--text-color-link-highlight);
	color: var(--button-text-highlight);
}

button:active, 
.button:active {
	background-color: var(--primary);
	border-color: var(--button-border-highlight);
	color: var(--button-text-highlight);
}

.button:visited {
	border-color: var(--text-color-link-visited);
}

figure {
	margin: 0;
}

figcaption {
	text-align: center;
	font-size: 1rem;
	margin-block-start: 0.25rem;
}

.links-nextprev {
	list-style: none;
	padding: 1em 0;
}

table {
	margin: 1em 0;
}

table td,
table th {
	padding-inline-end: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
	margin: 0.5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
}

code {
	word-break: break-word;
}

main {
	font-size: var(--article-font-size);
	padding: 0 1rem;
}

main :first-child {
	margin-block-start: 0;
}

main img {
	height: auto;
	max-width: 100%;
}

footer,
header {
	padding: 1rem;
}

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 7rem;
}

@media screen and (max-width: 720px) {
	footer {
		flex-direction: column;
		gap: 2rem;
		justify-content: center;
	}
}

#chromagen {
	cursor: pointer;
	max-width: 18rem;
	padding: 0 1rem;
	text-align: center;
}

/* Header */

header {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1em 0.5em;
	justify-content: space-between;
}

.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-inline-end: 2em;
}

.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav-item {
	display: inline-block;
	margin-inline-end: 1em;
}

.nav-item a:not(:hover) {
	text-decoration: none;
}

.nav a[aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */

.postlist {
	list-style: none;
	padding: 0;
}

.postlist-item {
	display: flex;
	align-items: center;
	margin-block-end: 1em;
}

@media screen and (max-width: 320px) {
	.postlist-item {
		flex-wrap: wrap;
	}
}

.postlist-date {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--text-color);
}

.postlist-date {
	word-spacing: -0.5px;
}

.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: 100%;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}

.postlist-item-active .postlist-link {
	font-weight: bold;
}

.postlist-thumb,
.postlist-img img {
	display: block;
}

.postlist-img img {
	height: 128px;
	width: 128px;
	object-fit: cover;
}

.postlist-img {
	margin-inline-end: 1em;
	min-width: 128px;
}

.postlist-text {
	display: flex;
	flex-direction: column;
}

.postlist-text a {
	line-height: 1.25;
}

.ellipsize {
	overflow: hidden; /* keeps the element from overflowing its parent */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
	line-clamp: 3;
	/* implicit... */
	/* text-overflow: ellipsis; */
	/* white-space: normal; */
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}

.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
}

.post-metadata time {
	margin-inline-end: 1em;
}
