/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
	--article-font-size: 1.25rem;
	--syntax-tab-size: 4;
}

/* Default theme colors */
:root {
	--background-color-light: #fff;
	--background-color-dark: #000;
	--background-color: var(--background-color-light);

	--active-light: #17050f;
	--active-dark: #a6a6f8;
	--complement: #1493fb;
	--complementdarker: #5f2b48;
	--primary: #6969f7;
	--primarydarker: #082840;
	--text-color-dark: #dad8d8;
	--text-color-light: #282828;

	--text-color: var(--text-color-light);
	--text-color-link: var(--text-color-light);
	--text-color-link-active: var(--primarydarker);
	--text-color-link-highlight: var(--complementdarker);
	--text-color-link-visited: var(--primarytext);
	
	--button-border-color: var(--background-color-dark);
	--button-border-color-highlight: var(--primarydarker);

	--rainbow-horizon: var(--background-color-light), 50%, var(--complement), 88%, var(--primary)
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: var(--background-color-dark);
		
		--text-color: var(--text-color-dark);
		--text-color-link: var(--primary);
		--text-color-link-active: var(--text-color-dark);
		--text-color-link-highlight: var(--complement);
		--text-color-link-visited: var(--text-color-dark);
		
		--button-border-color: var(--background-color-light);
		--button-border-color-highlight: var(--primary);
		
		--rainbow-horizon: var(--background-color-dark), 64%, var(--complementdarker), 92%, var(--primarydarker)
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}
body {
	background-image: linear-gradient(var(--rainbow-horizon));
	min-height: 100vh;
	min-height: 100dvh;
}

.pantalla {
	margin: 0 auto;
	max-width: 50em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:focus,
a[href]:hover {
	color: var(--text-color-link-highlight);
}
a[href]:active {
	color: var(--text-color-link-active);
}

button {
	background-color: var(--complement);
	background-image: linear-gradient(45deg, var(--primary), var(--complement), var(--background-color-light));
	border: .15625em solid var(--button-border-color);
	border-radius: 99999px;
	color: var(--text-color-light);
	font-size: 1.5em;
	padding: 0.25em 0.5em;
}
button:focus,
button:hover {
	background-color: var(--primary);
	background-image: linear-gradient(315deg, var(--background-color-light), var(--primary), var(--complement));
	border-color: var(--button-border-color-highlight);
}
button:active {
	background-color: var(--background-color-light);
	border-color: var(--text-color-link-highlight);
}

main {
	font-size: var(--article-font-size);
}
main :first-child {
	margin-top: 0;
}

/* header {
	border-bottom: 1px dashed #e0e0e0;
} */
header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	list-style: none;
	/* border-top: 1px dashed #e0e0e0; */
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: 0.5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

footer,
header,
main {
	padding: 1rem;
}

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 720px) {
	footer {
		flex-direction: column;
		gap: 2rem;
		justify-content: center;
	}
}


/* Header */
header {
	display: flex;
	gap: 1em 0.5em;
	flex-wrap: wrap;
	align-items: center;
}
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	/* if using ol in _includes/postslist.njk */
	/* padding-left: 1.5rem; */
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin-bottom: 1em;
}
/* if using ol in _includes/postslist.njk */
/* counter-increment: start-from -1;
}
/* .postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
} 
.postlist-item:before, 
*/
.postlist-date {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--text-color);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: 0.1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}
