<ul reversed class="postlist">
{% for post in postslist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		{%- if post.data.hero and post.data.heroalt %}
		<figure class="postlist-img"><a href="{{ post.url }}" class="postlist-thumb">
			{%- if post.data.hero | fullPostImgUrl %}
				<img src="{{ post.data.hero }}" alt="{{ post.data.heroalt }}" eleventy:widths="488" />
			{%- else %}
				<img src="./{{ post.url }}{{ post.data.hero }}" alt="{{ post.data.heroalt }}" eleventy:widths="488" />
			{%- endif %}
		</a></figure>
		{%- endif %}
		<div class="postlist-text">
			<a href="{{ post.url }}" class="postlist-link ellipsize line-clamp-3">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
			<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("d LLLL yyyy") }}</time>
		</div>
	</li>
{% endfor %}
</ul>
