---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	<ol>
		<li>Edit <code>_data/metadata.js</code> with the information for your site.</li>
		<li>(Optional) Review <code>eleventy.config.js</code> build <a href="https://www.11ty.dev/docs/config/">configuration</a>.</li>
		<li>Delete this message from <code>_includes/layouts/home.njk</code>.</li>
	</ol>
	<p><em>This is an <a href="https://www.11ty.dev/">Eleventy project</a> created from <a href="https://github.com/rdela/eleventeen">eleventeen</a>, a variation of <a href="https://github.com/11ty/eleventy-base-blog">Eleventy Base Blog</a></em> 👉 <a href="/about/">Read more</a> 📖✨</p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
