---
layout: layouts/base.njk
---
{%- css %}
{# Only include the syntax highlighter CSS on blog posts #}
{% include "node_modules/prismjs/themes/prism-okaidia.css" %}
{% include "public/css/prism-diff.css" %}
pre[class*="language-"] {
	margin: .375rem 0 1.5rem;
}

{# no top margin on post hero or title #}
main figure.hero:first-of-type,
main h1.title:first-of-type {
	margin-block-start: 0;
}
{%- endcss %}
<figure class="hero">
{%- if hero and heroalt %}

	{%- if herolink %}
		<a href={{ herolink }}>
	{%- endif %}

	{% image hero, heroalt %}

	{%- if herolink %}
		</a>
	{%- endif %}

	{%- if herocaption %}
		<figcaption>
			{%- if herolink %}<a href={{ herolink }}>{%- endif %}
			{{ herocaption }}
			{%- if herolink %}</a>{%- endif %}
		</figcaption>
	{%- endif %}
{%- endif %}
</figure>
<h1 class="title" data-heading-anchors-optout>{{ title }}</h1>

<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

{{ content | safe }}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
