---
layout: layouts/base.njk
---
{%- css %}
/* Only include the syntax highlighter CSS on blog posts */
{% include "node_modules/prismjs/themes/prism-okaidia.css" %}
{% include "public/css/prism-diff.css" %}
{%- endcss %}
<figure>
{%- if hero and heroalt %}

	{%- if herolink %}
		<a href={{ herolink }}>
	{%- endif %}

	{% image hero, heroalt %}

	{%- if herolink %}
		</a>
	{%- endif %}

	{%- if herocaption %}
		<figcaption>
			{%- if herolink %}<a href={{ herolink }}>{%- endif %}
			{{ herocaption }}
			{%- if herolink %}</a>{%- endif %}
		</figcaption>
	{%- endif %}
{%- endif %}
</figure>
<h1>{{ title }}</h1>

<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

<heading-anchors position="beforeend">

{{ content | safe }}

</heading-anchors>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}

{%- css %}
heading-anchors a[href^="#"] {
	display: inline-block;
	max-inline-size: 1ch;
	white-space: nowrap;
	overflow-x: hidden;
	pointer-events: none;
	color: transparent;
	margin-inline-start: 0.375ch;
	vertical-align: bottom;
}

heading-anchors a[href^="#"]::before {
	content: "#";
	color: var(--text-color-link);
	pointer-events: auto;
}
{% endcss %}
{# {%- js %}{% include "/js/heading-anchors.js" %}{% endjs %} #}
<script type="module" src="/js/heading-anchors.js"></script>
